<nav id="nav">
    <div class="nav__btn-logo flex">
        <div class="nav__btns">
            <div class="box grid">
                <div class="box1"></div>
                <div class="box2"></div>
                <div class="box3"></div>
            </div>
        </div>
        <div class="nav__logo" id="nav-logo">
            <span>valmigo</span>
        </div>
    </div>
    <nav class="nav__menu" id="nav__menu">
        
        

        <ul class="nav__list">
            <li class="nav__item flex">
               <a href="/#coins" class="nav__link">Prices</a> 
            </li>
            <li class="nav__item flex">
                <a method="POST" action="/calculator" href="/calculator" class="nav__link">Cripto Calculator</a> 
            </li>
            <li class="nav__item flex">
                <a href="" class="nav__link">Portfolio</a> 
            </li>
            <li class="nav__item flex">
                <a href="" class="nav__link">Trade</a> 
                <i class="uil uil-angle-down nav__angle-down angleDown1"></i>
            </li>
            <div class="nav__coins">
                <ul>
                    <li class="nav__coins-item">Bitcoin</li>
                    <li class="nav__coins-item">Etherum</li>
                    <li class="nav__coins-item">Solana</li>
                    <li class="nav__coins-item">Uniswap</li>
                    <li class="nav__coins-item">Sandbox</li>
                </ul>
            </div>

            <li class="nav__item flex">
                <a href="" class="nav__link">NFT <span class="">(new!)</span></a> 
                <i class="uil uil-angle-down nav__angle-down angleDown2"></i>
            </li>
            <div class="nav__nft">
                <ul>
                    <li class="nav__nft-items">
                        <a target="blank" href="https://opensea.io/jugoGastrico">My collection</a>
                    </li>
                    <li class="nav__nft-items ">
                        <a target="blank" href="https://blog.opensea.io/guides/non-fungible-tokens/">NFT's Bible</a>
                    </li>
                </ul>
            </div>
        </ul>

        <div class="nav__account-general">
            <div class="nav__account grid">
                <a href="" class="nav__login">Login</a>
            </div>
            <div class="nav__account grid">
                <a href="" class="nav__login">Register</a>
            </div>
        </div>
    </nav>
</nav>