<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style/stylesheet.css">
    <link rel="stylesheet" href="/style/calculator.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
</head>

<body>
    <header id="header">
        <%- include('includes/menu') %>
    </header>
    <main class="main" id="main">
        <section class="calculator" id="calculator">
            <div class="calculator__intro">
                <h1>Criptos Converter</h1>
                <ul>
                    <li>1) Select your actual cripto and add the value to convert</li>
                    <li>2) Select the cripto coin to convert</li>
                    <li>3) Click in "Convert"</li>
                </ul>
            </div>
            <div class="calculator__game grid">
                <img src="/img/coin.svg" alt="">
                <img src="/img/coin.svg" alt="">
                <div class="calculator__separator flex">
                    
                    <select class="calc__btn" name="coinsActual" id="coinsCalc">
                        <option value="1">Bitcoin</option>
                        <option value="2">Etherum</option>
                        <option value="3">Solana</option>
                        <option value="4">Uniswap</option>
                        <option value="5">Sandbox</option>
                        <option value="6">USD $</option>
                        <option value="7">ARG Pesos $</option>
                    </select>
                </div>
                <i class="uil uil-exchange-alt"></i>
                
                <input class="calc__btn calc__btn-num" type="number" placeholder="Price to convert" id="numberInput">
                <i class="uil uil-exchange-alt"></i>
                <div class="calculator__separator flex">
                  
                    <select class="calc__btn" name="coinsToConvert" id="coinsCalc2">
                        <option value="1">Bitcoin</option>
                        <option value="2">Etherum</option>
                        <option value="3">Solana</option>
                        <option value="4">Uniswap</option>
                        <option value="5">Sandbox</option>
                        <option value="6">USD $</option>
                        <option value="7">ARG Pesos $</option>
                    </select>
                </div>
                
            </div>
            <div class="calculator__convertBTN grid">
                <button type="button" class="btn calc__convertor">Convert!</button>
            </div>


            <div class="coinValue">

                
            </div>
        </section>
        <%- include('includes/footer') %>

    </main>
    <script src="../js/menu.js"></script>
    <script src="../js/calculator.js"></script>
</body>
</html>